@tailwind base;
@tailwind components;
@tailwind utilities;

/*DashBoardLayout*/
#nav-opt {
  display: flex;
  padding: 5px 7px;
  margin: 5px;
  border: #0a0a0a solid 1px;
  border-radius: 20px;
  cursor: pointer;
  justify-content:space-around;
  align-items: center;
}
#nav-opt:hover{
  background-color: grey;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
